//BUTTON

*[buttonBar="true"] {
  background-color: rgba(0,0,0,0.3);
  QPushButton{
    padding: 7px 5px;
  }
}

*[buttonBarTransparent="true"] {
  background-color: transparent;
}

*[buttonBarSimple="true"] {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.1);
  border-width: 1px 0px;
}

*[largeButton="true"] {
  min-width: 65px;
  padding: 10px 5px;
  font-size: 14px;
}

QPushButton::menu-indicator[usernameButton="true"] {
  qproperty-icon: none;
  image: url(":resources/bpk_contacts-2-white.svg");
  qproperty-iconSize: 10px;
  subcontrol-origin: padding;
  subcontrol-position: center right;
}

QPushButton {
  color: $celer-white;
  border: 1px solid $primary-color-100;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0px 10px;
  qproperty-iconSize: 22px;
}


QPushButton:hover {
  border: 1px solid $primary-color-80;
  background-color: $primary-color-80;
}

QPushButton:pressed {
  border: 1px solid $primary-color-100;
  background-color: $primary-color-100;
}

QPushButton:flat {
  border: none;
  /* no border for a flat push button */
  background-color: $primary-color-100;
  color: $celer-white;
  &:hover {
    background-color: $primary-color-80;
  }

  &:pressed {
    background-color: $primary-color-100;
  }

  &:disabled{
    border: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.1);
    // background-color: rgba(36,125,172,0.3);
    // background-color: $celer-black-90;
    // color: $celer-black-50;
  }
}

QPushButton:disabled {
  border: 1px solid $celer-black-90;
  color: $celer-black-70;
}

QPushButton:default {}
//BUTTON IMPORTANT

QPushButton[buttonDiscreet="true"],
QPushButton[buttonDiscreetPrimary="true"] {
  color: rgba(255,255,255,0.6);
  background-color: transparent;
  text-decoration: underline;
  font-weight: normal;
  font-style: italic;
  border-width: 0px;
  height: auto !important;
  text-transform: none;
  text-align: left;
  &:hover {
    color: $celer-white;
    background-color: transparent;
  }
}

QPushButton[buttonDiscreetPrimary="true"] {
  padding: 0px;
  text-align: left;
  color: $primary-color-100;
}

QPushButton[buttonEnd="true"] {
  color: $primary-color-100;
  background-color: rgba(0,0,0,0.5);
  border-width: 0px;
  text-transform: none;
  font-size: 13px;
  qproperty-iconSize: 22px;

  &:hover {
    background-color: rgba(0,0,0,1);
  }
}

// button switch
QPushButton[left_button=true],
QPushButton[right_button=true] {
  border: 1px solid $blocksettle-grey-light;
  background-color: $blocksettle-grey-dark;
  color: $celer-black-40;
  padding: 3px 5px;

  &:hover{
    color: $celer-white;
  }

  &:disabled{
    background-color: $celer-black;
    color: $celer-black-80;
  }
}

QPushButton[left_button=true] {
   border-width: 1px 0px 1px 1px;
   border-top-left-radius: 4px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 4px
}

QPushButton[right_button=true] {
   border-width: 1px 1px 1px 0px;
   border-top-left-radius: 0px;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 0px
}

QPushButton:checked {
  background: $primary-color-100;
  color: $celer-white;
}

*[sideSwitchContainer="true"] {

  QPushButton[left_button=true]:checked {
     background-color: $ask-color-100;
     color: $celer-white;
  }

  QPushButton[right_button=true]:checked {
     background-color: $bid-color-100;
     color: $celer-white;
  }

}


*[buttonImportant="true"] {
  @extend QPushButton;
  color: $celer-white;
  border: 1px solid $celer-important-100; //    qproperty-icon: url(" "); /* empty image */
  //    qproperty-iconSize: 15px 15px; /* space for the background image */
  //    background-image: url(":resources/close-icon.png");
  //    background-position: center;
  //    background-repeat: no-repeat;
  &:hover {
    color: $celer-white;
    background-color: $celer-important-100;
    border: 1px solid $celer-important-100;
  }
}

*[buttonSuccess="true"] {
  @extend QPushButton;
  color: $celer-white;
  border: 1px solid $celer-success-100;

  &:hover {
    color: $celer-white;
    background-color: $celer-success-100;
    border: 1px solid $celer-success-100;
  }
}

*[buttonWarning="true"] {
  @extend QPushButton;
  color: $celer-black;
  border: 1px solid $celer-warning-100;

  &:hover {
    color: $celer-black;
    background-color: $celer-warning-100;
    border: 1px solid $celer-warning-100;
  }
}

// icon buttons

.icon-button{
  background: transparent;
  color: $celer-white;
  border-width: 1px 1px 1px 0px;
  border-color: $blocksettle-grey-light;
  height: 20px;
  width: 20px;
  min-width: 20px;

  &:hover {
    border-color: $celer-white;
    background: transparent;
  }

  &:disabled {
    // background-color: black;
  }
}

*[iconButtonPaste="true"] {
  @extend .icon-button;
  background-image: url(":/resources/copy.png") no-repeat center;
  background-repeat: no-repeat ;
  background-position: center ;

  &:hover {
    background-image: url(":/resources/copy.png") no-repeat center;
    background-repeat: no-repeat ;
    background-position: center ;
  }

  &:pressed {
    background-image: url(":/resources/tick.png") no-repeat center;
    border-color: $celer-success-100;
  }
}

// *[iconButtonNewLink="true"] {
//   @extend .icon-button;
//   background-image: url(":/resources/new-link.png") no-repeat center;
//   background-repeat: no-repeat ;
//   background-position: center ;
//
//   &:hover {
//     background-image: url(":/resources/new-link.png") no-repeat center;
//     background-repeat: no-repeat ;
//     background-position: center ;
//   }
// }
