QCalendarWidget {
  padding: 0;
  margin: 0;

  QWidget#qt_calendar_navigationbar {
    background-color: $celer-black-97;
    border: 1px solid $celer-black-90;
    height: 20px;
    min-height: 20px;
    padding: 0;
    margin: 0;
    right: 0;
    left: 0;

    QToolButton {
      color: white;
      // icon-size       : 56px, 56px;
      background-color: transparent;
      border-width: 0;
      padding: 0;
      height: 20px;
      min-height: 20px;
      // width                     : 150px;
    }
  }
  // header-panel buttons
  // header-panel button dropdown menu
  QMenu {
    // left            : 20px;
    background-color: white;
  }

  QSpinBox {
    padding: 0;
    margin: 0;
    width: 60px;
    color: white;
    background-color: rgba(0,0,0,0.2);
    selection-background-color: rgb(136, 136, 136);
    selection-color: rgb(255, 255, 255);
    height: 16px;
    min-height: 16x;

    &::up-button {
      subcontrol-origin: border;
      subcontrol-position: top right;
      height: 8px;
      min-height: 8px;
      width: 20px;
    }

    &::down-button {
      subcontrol-origin: border;
      subcontrol-position: bottom right;
      height: 10px;
      min-height: 10px;
      width: 20px;
    }

    &::up-arrow {
      qproperty-icon: url(":/resources/up-arrow.png");
    }

    &::down-arrow {
      qproperty-icon: url(":/resources/down-arrow.png");
    }
  }

  QPrevNextCalButton {
    background-color: transparent;
    border-width: 0;
    height: 20px;
    min-height: 20px;
    icon-size: 20px, 20px;
  }

  #qt_calendar_nextmonth {
    qproperty-icon: url(":/resources/right-arrow.png");
    right: 0;
  }

  #qt_calendar_prevmonth {
    qproperty-icon: url(":/resources/left-arrow.png");
  }
  /* header row */
  QWidget {
    alternate-background-color: $celer-black-10;
  }
  /* normal days */
  QAbstractItemView:enabled {
    color: $celer-black-97;
    background-color: $celer-white;
    border: 1px solid $celer-black-10;
    selection-background-color: $primary-color-90;
    selection-color: $celer-white;
  }

  QAbstractItemView {
    color: $celer-black-60;
    background-color: $celer-black-10;
  }

  QAbstractItemView::Saturday {
    color: green!important;
    background-color: $celer-black-10;
  }
  /* days in other months */
  QAbstractItemView:disabled {
    color: $celer-black-40;
    background-color: $celer-black-10;
  }
}
