QDialog {
  padding: 10px;
}

QDialog {
  border: 1px solid $celer-black-50;
}

QDialogButtonBox QPushButton {
  min-width: 65px;
  padding: 10px 5px;
}

//Dialog Boxes

QDialog {
  background-color: $blocksettle-grey-dark;
  padding: 5px;
}

// preferences
QListWidget{
  background-color: rgba(0,0,0,0.1);
  border: none;
  alignment: center;

  &:focus {
    border: none;
  }
}

QStackedWidget #pageGeneral,
QStackedWidget > QWidget{
  border: none;
}

*[sideNav="true"]{
  QListView{
    &:item{
      width: 100px;
      padding: 10px 0px;
      spacing: none;
      border-bottom: 1px solid rgba(255,255,255,0.08);

      &:selected{
        background-color: $blocksettle-grey-dark;
        selection-background-color: transparent;
        color: $primary-color-100;
        selection-color: $primary-color-100;
        border-left: 1px solid $primary-color-100;

      }
    }
  }
}


QMessageBox {
  QPushButton {
  }
  &::Warning,
  &::warning {
    // image: url(":/resources/tick.png");

    QIcon,
    QPixmap{
      // image: url(":/resources/tick.png");
      // border-color: $celer-success-100;
    }

    QPushButton {
      // color: red;
    }

  }
}
