
//COMBO-BOX

// QComboBox:editable QAbstractItemView {
//   color: $celer-black-97;
//   height: 25px!important;
//   padding: 0 5px 0 5px;
//   border-bottom: 1px solid $celer-black-05;
//
//   *{
//     color: red;
//   }
//
//   &::item:selected {
//     background-color: $primary-color-80;
//     color: $celer-white;
//   }
// }


QComboBox,
QDateEdit {
  border: 1px solid $blocksettle-grey-light;
  border-radius: 0;
  padding: 1px 23px 1px 5px;
  background: transparent;
  max-height: 20px;
  color: $celer-white;

  QAbstractItemView {
    color: $celer-black;
    padding: 5px;
    }

  &::item {
    color: $celer-black-97;
    height: 25px;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid $celer-black-05;

    &:selected {
      background-color: $primary-color-80;
      color: $celer-white;
    }
  }

  &:disabled {
    border-color: $celer-black-90;
    color: $celer-black-70;
  }

  &::drop-down:disabled {
    border-left-color: $celer-black-90;
  }
}

QComboBox:editable:disabled {
  background: transparent;
}

QComboBox:editable {
  QLineEdit{
    background: transparent ;
    border: none ;
    color: $celer-white ;
  }
}

QComboBox::drop-down:editable,
QComboBox:editable,
QDateEdit::drop-down:editable,
QDateEdit:editable {
  background: transparent;
}
/* QComboBox gets the "on" state when the popup is open */
QComboBox::drop-down:editable:on,
QComboBox:editable:on,
QDateEdit::drop-down:editable:on,
QDateEdit:editable:on {}

QComboBox:on,
QDateEdit:on {
  /* shift the text when the popup opens */
  padding-top: 3px;
  padding-left: 4px;
}

QComboBox::drop-down,
QDateEdit::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 20px;
  border-left-width: 1px;
  border-left-color: $blocksettle-grey-light;
  border-left-style: solid;
  /* just a single line */
  border-top-right-radius: 0;
  /* same radius as the QComboBox */
  border-bottom-right-radius: 0;
  color: $celer-black;
}

QComboBox::down-arrow {
  image: url(":/resources/dropdown-arrow.png");
}

QDateEdit::down-arrow {
  image: url(":/resources/calendar.png");
}

QComboBox::down-arrow:on,
QDateEdit::down-arrow:on {
  /* shift the arrow when popup is open */
  top: 1px;
  left: 1px;
}

QDateEdit {
  tr::DayOfWeek {
    color: blue;
  }

  QPushButton {
    background: red;
  }
}

QLineEdit {
  border: 1px solid $blocksettle-grey-light;
  padding: 1px 5px;
  background: transparent;
  height: 18px;
  max-height: 18px;
  color: $celer-white;

  &:focus{
    border: 1px solid $primary-color-100;
  }
}

QTextEdit {
  border: 1px solid $blocksettle-grey-light;
  padding: 1px 5px;
  background: transparent;
  color: $celer-white;
}

*[textEditReadOnly="true"]{
  border: none;
  padding: 0px;
  background: transparent;
  color: $celer-white;
  &:focus{
    border: none;
  }
}

QDoubleSpinBox,
QSpinBox {
  padding: 0 5px 0 5;
  /* make room for the arrows */
  border-image: none;
  border: 1px solid $blocksettle-grey-light;
  background: transparent;
  height: 20px;
  max-height: 20px;
  color: $celer-white;

  &:focus{
    border: 1px solid $primary-color-100;
  }
}

QDoubleSpinBox::up-button,
QSpinBox::up-button {
  subcontrol-origin: border;
  subcontrol-position: top right;
  /* position at the top right corner */
  background: transparent;
  width: 20px;
  /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  border-image: none;
  border-left: 1px solid $blocksettle-grey-light;
  padding: 0;
}

QDoubleSpinBox::up-button:hover,
QSpinBox::up-button:hover {
  border-image: none;
}

QDoubleSpinBox::up-button:pressed,
QSpinBox::up-button:pressed {
  border-image: none;
}

QDoubleSpinBox::up-arrow,
QSpinBox::up-arrow {
  image: url(":/resources/up-arrow.png");
  width: 10px;
  height: auto;
}

QDoubleSpinBox::up-arrow:disabled,
QDoubleSpinBox::up-arrow:off,
QSpinBox::up-arrow:disabled,
QSpinBox::up-arrow:off {
  /* off state when value is max */
  image: url(":/resources/up-arrow.png");
}

QDoubleSpinBox:down-button,
QSpinBox::down-button {
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  /* position at bottom right corner */
  background: transparent;
  width: 20px;
  border-image: none;
  border-left: 1px solid $blocksettle-grey-light;
  padding: 0;
}

QDoubleSpinBox::down-button:hover,
QSpinBox::down-button:hover {
  border-image: none;
}

QDoubleSpinBox::down-button:pressed,
QSpinBox::down-button:pressed {
  border-image: none;
}

QDoubleSpinBox::down-arrow,
QSpinBox::down-arrow {
  image: url(":/resources/down-arrow.png");
  width: 10px;
  height: auto;
}

QDoubleSpinBox::down-button {
  border-top: 1px solid $blocksettle-grey-light;
}

QDoubleSpinBox:disabled,
QSpinBox:disabled{
  border: 1px solid $celer-black-70 !important;
  *{

  }
}

QDoubleSpinBox:disabled,
QSpinBox:disabled,
QDoubleSpinBox::up-button:disabled,
QSpinBox::up-button:disabled,
QDoubleSpinBox::down-button:disabled,
QSpinBox::down-button:disabled{
  border-color: $celer-black-70 !important;
  color: $celer-black-70 ;
}
