//header-panel

*[headerPanel="true"] {
  background-color: $celer-black;
  padding: 0 5px;
  max-height: 25px;

  *[headerLabel="true"] {
    text-transform: uppercase;
    background-color: transparent;
    color: $celer-black-40;
    subcontrol-position: left center;
    height: 25px;
    padding: 0;
  }

  QComboBox,
  QDateEdit {
    padding: 1px 19px 1px 5px;
    max-height: 14px;
  }

  QComboBox::dropdown,
  QDateEdit::dropdown {
    width: 12px;
  }

  QPushButton {
    border-color: rgba(255,255,255,0.3);
    min-height: 16px;
    max-height: 16px;
  }
}

*[title="true"] {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 5px 0;

  QLabel {
    color: $celer-black-10;
    text-transform: uppercase;
  }
}


*[transparentHeader="true"] {
  border: 1px solid rgba(255,255,255,0.3);

  QHeaderView,
  QHeaderView *,
  QHeaderView::section {
    background-color: transparent;
    color: $blocksettle-grey-light;
    border-width: 0;
  }

  QHeaderView::section {
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }
}
