QSplashScreen {
  background-image: url(":resources/login-logo.png");
  background-position: center right;
  background-repeat: no-repeat;
}
//LOGIN

QFrame#loginHeader {
  background-color: $primary-color-60;
  color: black;
}

QFrame#loginLogo {
  background-image: url(":resources/login-logo.png");
  background-position: center right;
  background-repeat: no-repeat;
}

*[iconButton="true"], .iconButton {
  background-color: transparent;
  border: none;
  color: $celer-black-60;
  background-position: center;
  background-repeat: no-repeat;
}

*[loginCloseButton="true"] {
  @extend .iconButton;
  background-image: url(":resources/close-icon.png");
  background-repeat: no-repeat;
  opactiy: 0.3;
  right: 0;

  &:hover {
    color: $celer-black-100;
    opactiy: 1;
  }
}

*[loginIcons="true"] {
  color: $celer-black-60;
}

QLabel#loginCompanyLabel {
  color: $celer-black-97;
  text-transform: uppercase;
  font-size: 14px;
  height: auto;
}

QLabel#loginVersionLabel {
  height: auto;
  color: $celer-black-97;
  font-style: italic;
  font-size: 11px;
}

*[loginInput="true"] {
  border-width: 0 0 1px 0;
  border-color: rgba(129,136,143,0.3);
  color: $celer-white;
  text-indent: 0;
  padding: 0;
  &:focus{
    border-width: 0 0 1px 0;
    border-color: $primary-color-100;
  }
}

*[forgotPassword="true"] {
  color: $blocksettle-grey-light;
  font-size: 10px;
}

QLabel#labelLogin {}
