QMainWindow {
  background-color: #0a1619;
}

*[pane="true"] {
  background-color: $blocksettle-grey-dark;
}

*[titlePane="true"] {
  background-color: $primary-color-60;
  color: $celer-black;
}

*[titlePaneSecondary="true"] {
  background-color: $blocksettle-grey-dark;
  color: $primary-color-100;
}

*[titlePaneImportant="true"] {
  background-color: $blocksettle-grey-dark;
  color: $celer-important-90;
}

*[titlePaneSuccess="true"] {
  background-color: $blocksettle-grey-dark;
  color: $celer-success-90;
}

*[darkOverlay="true"] {
  background-color: rgba(0,0,0,0.2);
}

*[well="true"] {
  border: 1px solid $celer-black-60;
}

*[wellButtonBar="true"]{
    border: 1px solid $celer-black-60;
    border-width: 0px 1px 1px 1px ;
    QPushButton{
      padding: 5px 3px;
    }
  }


QWidget {
  border: none;

  &:focus{
    outline: 0;
  }

  QGroupBox {
    border-top: 1px solid rgba(255,255,255,0.15);
    border-radius: 0;
    margin-top: 16px;
    /* leave space at the top for the title */
    padding-top: 10px;
    background-color: transparent;
    &[wellGroupBox="true"]{
      border: 1px solid rgba(255,255,255,0.15);
      padding: 10px;

      QTableVIew,
      QTreeView {
        border: 1px solid transparent;
      }
    }

    &[wellGroupBoxWithButtonBar="true"]{
      border: 1px solid rgba(255,255,255,0.15);
      padding: 0px;

      *[buttonBar="true"]{
          background-color: transparent;
          border: 1px solid rgba(255,255,255,0.15);
          border-width: 1px 0px;
          QPushButton{
            padding: 5px 7px;
          }
        }

        QTableVIew,
        QTreeView {
          border: 1px solid transparent;
        }

    }
  }

  QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    /* position at the top center */
    padding: 0;
    color: $celer-black-10;
    text-transform: uppercase;
  }
}


QFrame:focus {
  border: 1px solid $primary-color-100;
}

QSplashScreen {
  background-image: url(":resources/login-logo.png");
  background-position: center right;
  background-repeat: no-repeat;
}
//LOGIN

QFrame#loginHeader {
  background-color: $primary-color-60;
  color: black;
}

QFrame#loginLogo {
  background-image: url(":resources/login-logo.png");
  background-position: center right;
  background-repeat: no-repeat;
}
