//PROGRESS BAR

QProgressBar {
  border: 1px solid $blocksettle-grey-dark;
  border-width: 0 0 20px 0;
  // large bottom border pushed the text and the progress bar
  border-radius: 0px;
  background-color: rgba(0,0,0,0.3);
  color: rgba(255,255,255,0.7);
  font-size: 9px;
  font-weight: bold;
  text-align: right;
}

QProgressBar::chunk {
  background-image: url(":resources/progress-bar-pattern.png");
  border-radius: 4px;
}

*[quoteLabel="true"] {
  color: $celer-white;
  font-size: 12px;
  font-weight: 400;
}

*[simpleProgressBar="true"] {

  QProgressBar {
    border: 1px solid $blocksettle-grey-dark;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.7);
    font-size: 9px;
    font-weight: bold;
    text-align: right;
  }

  QProgressBar::chunk {
    background-color: $celer-success-100;
    border-radius: 2px;
  }
}
