QRadioButton::indicator {
    width: 16px;
    height: 16px;
}

QRadioButton::indicator::unchecked {
    image: url(:/resources/radio-button.png);
}

QRadioButton::indicator:unchecked:hover {
  image: url(:/resources/radio-button.png);
}

QRadioButton::indicator:unchecked:pressed {
  image: url(:/resources/radio-button.png);
}

QRadioButton::indicator::checked {
  image: url(:/resources/radio-button-active.png);
}

QRadioButton::indicator:checked:hover {
  image: url(:/resources/radio-button-active.png);
}

QRadioButton::indicator:checked:pressed {
  image: url(:/resources/radio-button-active.png);
}



//check box

QCheckBox:disabled,
QCheckBox:disabled:checked {
  color: $celer-black-70 ;
}

QCheckBox::indicator:disabled,
QTreeView::indicator:disabled {
  border: 1px solid $celer-black-70;
}

QCheckBox,
QRadioButton {
  spacing: 10px;
}

QCheckBox:checked,
QRadioButton:checked {
  color: $celer-white;
}

QCheckBox::indicator,
QTreeView::indicator {
  width: 16px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  border: 1px solid $blocksettle-grey-light;
  background: transparent;
  padding: 0px;
}

QTreeView::indicator {
  width: 12px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
}

QCheckBox::indicator:unchecked,
QTreeView::indicator:unchecked {}

QCheckBox::indicator:unchecked:hover,
QTreeView::indicator:unchecked:hover {}

QCheckBox::indicator:unchecked:pressed,
QTreeView::indicator:unchecked:pressed {}

QCheckBox::indicator:checked,
QTreeView::indicator:checked {
  image: url(":/resources/tick.png");
}

QCheckBox::indicator:checked:hover,
QTreeView::indicator:checked:hover {
  image: url(":/resources/tick.png");
}

QCheckBox::indicator:checked:pressed,
QTreeView::indicator:checked:pressed {
  image: url(":/resources/tick.png");
}

QCheckBox::indicator:indeterminate,
QTreeView::indicator:indeterminate {
  image: url(":/resources/intermediate-check2.png");

}

QCheckBox::indicator:indeterminate:hover,
QTreeView::indicator:indeterminate:hover {

}

QCheckBox::indicator:indeterminate:pressed,
QTreeView::indicator:indeterminate:pressed {

}

*[doubleLineCheckBox="true"] {
  QLabel {
    font-size: 10px;
  }
}
