
//SCROLL AREA

QScrollArea {
  background-color: transparent;
}

QScrollArea > QWidget {
  background-color: transparent;
}

QAbstractScrollArea::corner {
    background: none;
    border: none;
}

// SCROLL BAR

QScrollBar {
    border: 1px solid $celer-black-90;
    background: $celer-black-100;

    &::handle {
        background: rgba(255,255,255,0.1);
        border-radius: 5px;
        &:hover {
            background: rgba(255,255,255,0.3);
        }
    }

    &::add-line,
    &::sub-line{
      border: 1px solid $celer-black-90;
      background: $celer-black-100;
    }

    &::left-arrow,
    &::right-arrow,
    &::up-arrow,
    &::down-arrow {
      width: 16px;
      height: 16px;
    }

}

/*for windows*/
QScrollBar::add-page,
QScrollBar::sub-page {
    background: none;
}


// horizontal

QScrollBar:horizontal {
    height: 15px;
    margin: 0px 15px;
}

QScrollBar::handle:horizontal {
    min-width: 15px;
}

QScrollBar::add-line:horizontal {
  background-image: url(":/resources/right-arrow.png");
  width: 15px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
  background-image: url(":/resources/left-arrow.png");
  width: 15px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

//vertical

QScrollBar:vertical {
  width: 15px;
  margin: 15px 0;
  border-width: 0px 0px 0px 1px;
  // padding: 2px;
}

QScrollBar::handle:vertical {
  // min-width: 10px;
}

QScrollBar::add-line:vertical {
  height: 15px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
  border-width: 0px 0px 0px 1px;
}

QScrollBar::sub-line:vertical {
  height: 15px;
  subcontrol-position: top;
  subcontrol-origin: margin;
  border-width: 0px 0px 0px 1px;
}

QScrollBar::up-arrow:vertical {
  background-image: url(":/resources/up-arrow.png");
}

QScrollBar::down-arrow:vertical {
  background-image: url(":/resources/down-arrow.png");
}
