//SEARCH BOX

*[searchField="true"] {
  background-color: transparent;
  color: white;
  border-width: 0 0 1px 0;
  border-color: $blocksettle-grey-light;
  padding: 0 17px 0 0;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  text-indent: 0;
  background-image: url(":resources/search.png");
  background-position: right center;
  background-repeat: no-repeat;
}
