//STATUS BAR

*[statusImportant="true"] {
  color: $celer-important-90;
  border-color: $celer-important-90;
}

*[statusSuccess="true"] {
  color: $celer-success-90;
  border-color: $celer-success-90;
}

*[statusWarning="true"] {
  color: $celer-warning-90;
  border-color: $celer-warning-90;
}

*[statusCaution="true"] {
  color: $celer-caution-90;
  border-color: $celer-caution-90;
}

*[statusInformation="true"] {
  color: $celer-information-90;
  border-color: $celer-information-90;
}

*[statusImportantLabel="true"] {
  color: $celer-important-90;
}

*[statusSuccessLabel="true"] {
  color: $celer-success-90;
}

*[statusWarningLabel="true"] {
  color: $celer-warning-90;
}

*[statusCautionLabel="true"] {
  color: $celer-caution-90;
}

*[statusInformationLabel="true"] {
  color: $celer-white;
}
