
QTableVIew,
QTreeView {
  @extend default-font;
  font-size: 11px;
  background-color: $blocksettle-grey-dark;
  alternate-background-color: #18202b;
  color: $celer-black-10;
  selection-background-color: $primary-color-90;
  selection-color: $celer-black-10;
  border: 1px solid $celer-black-80;

  &::item{
    &:selected{
      background-color: $primary-color-90;
      color: $celer-black-10;
    }
  }

  QPushButton{
    border: none;
  }
}

QHeaderView::section {
  @extend default-font;
  background-color: #18202b;
  color: $blocksettle-grey-light;
  padding-left: 4px;
  padding-right: 10px;
  border: 1px solid #18202b;
}

QHeaderView::down-arrow {
  subcontrol-position: center right;
  image: url("://resources/down-arrow-primary.png")!important;
}

QHeaderView::up-arrow {
  subcontrol-position: center right;
  image: url("://resources/up-arrow-primary.png")!important;
}

QTreeView::branch {
  background: transparent;
}

QTreeView::branch:closed:has-children,
QTreeView::branch:closed:has-children:has-siblings {
  border-image: none;
  image: url("://resources/right-arrow.png") !important;
}

QTreeView::branch:open:has-children,
QTreeView::branch:open:has-children:has-siblings {
  border-image: none;
  image: url(":/resources/dropdown-arrow.png")!important;
}

QTreeWidget {
  QPushButton{
    &:hover{
      background-color: red;
      background-image: url(":/resources/copy.png") no-repeat center;
      background-repeat: no-repeat ;
      background-position: center ;
    }
  }
}
//TABLE FOOTER

*[tableFooter="true"] {
  background-color: $blocksettle-grey-dark;
  border-top: 1px solid $celer-black-80;

  QLabel {
    color: $celer-black-10;
    @extend default-font;
    font-weight: normal !important;
  }
}
