//top naviagtion

QToolBar {
  background: transparent;
  spacing: 0;
  /* spacing between items in the tool bar */
  icon-size: 18px;
  min-height: 38px;
  padding: 0 0px 0 0;
}

QToolButton {
  @extend QPushButton;
  min-height: 30px;
  max-height: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 4px;
  /*this aligns the toolbar buttons in the middle of the toolbar*/
  margin-bottom: 4px;

  &:last {}
}

*[applicationBar="true"] {
  background-color: $blocksettle-grey-dark;
  padding: 0 0 0 35px;
  background-image: url(":resources/brand-logo.png");
  background-position: center left;
  margin: 0 5px;
  background-repeat: repeat;
}


QMenuBar {
  background: $celer-black-95;
  background-color: $celer-black-95;
  position: absolute;
  top: 10px;
  &::item {
    background: $celer-black-95;
    background-color: $celer-black-95;

    &:selected {
      color: $celer-white;
    }

    &:pressed {
      color: $primary-color-80;
    }
  }

  QMenu{
    &::item {
      color: $celer-black-90;
      height: 25px;
      padding: 0 5px;
      border-top: 1px;
      border-style: solid;
      border-color: $celer-black-05;
      min-width: 140px;
      background-color: transparent;

      &::first {
        border-top: 0px;
      }

      &:hover {
        color: $celer-white;
      }

      &:selected {
        background-color: $primary-color-80;
        color: $celer-white;
      }

      &:disabled {
        // border-color: $celer-black-30;
        background-color: $celer-black-05;
        color: $celer-black-40;
      }
    }
    &::separator {
      height: 1px;
      margin-top: 0px;
      background: $celer-black-30;
    }
  }

  // QMenu {
  //   min-width: 150px;
  // }
}

QMenu {
  padding: 0;
  background-color: white;

  &::item {
    color: $celer-black-97;
    height: 25px;
    padding: 5px;
    border-bottom: 1px solid $celer-black-05;

    &:selected {
      background-color: $primary-color-80;
      color: $celer-white;
    }
  }

  &::item:first {
    border-bottom: 0 solid $celer-black-05;
  }
}

*[usernameButton="true"] {
  border: none;
  text-transform: lowercase;
  text-align: right;
  background-color: transparent;
  padding: 0 5px 0 0;
  color: $blocksettle-grey-light;
  height: 25px;

  &:hover {
    background-color: transparent;
    border: none;
    color: $celer-white;
  }
}
