default-font {
  font-family: 'Open Sans', sans-serif;
}
//entire app

Text {
  font-family: 'Open Sans', sans-serif;
}

* {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 11px;
  color: $blocksettle-grey-light;
}

QLabel {
  color: $blocksettle-grey-light;
  font-family: 'Open Sans', sans-serif;
}

*[signInput="true"] {
  border-width: 1px;
  border-color: $celer-important-80;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.hyper-link{
  color: $primary-color-100 !important;
  text-decoration: none !important;
  font-style: italic !important;
}

*[headerRow="true"] {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.1);
  border-width: 1px 0px;
  padding: 10px 0px;
}

*[whiteLabel="true"] {
  color: $celer-black-10;
  font-family: 'Open Sans', sans-serif;
}

*[subtleLabel="true"] {
  color: rgba(255,255,255,0.3);
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

*[h1="true"] {
  font-size: 15px;
}

*[h5="true"] {
  font-size: 13px;
}

*[h6="true"] {
  font-size: 12px;
}

*[boldLabel="true"] {
  font-weight: bold;
}

*[italicLabel="true"] {
  font-style: italic;
}

*[smallPrint="true"] {
  font-style: italic;
  font-size: 10px;
}
//STATUS BAR

*[informationLabel="true"] {
  background-color: rgba(0,0,0,0.3);
  padding: 0 5;
  min-height: 20px;
  color: $celer-white;
}

*[errorMessage="true"] {
  color: $celer-important-80;
  font-style: italic;

}

*[infoMessage="true"] {
  color: $celer-warning-90;
}

*[statusBox="true"] {
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 20px;
  color: $celer-white;
}
