[submodule "common"]
	path = common
	url = git@github.com:BlockSettle/common.git
[submodule "Celer"]
	path = Celer
	url = git@github.com:BlockSettle/Celer.git
[submodule "AuthAPI"]
	path = AuthAPI
	url = https://github.com/autheid/AuthAPI
[submodule "breakpad/breakpad"]
	path = breakpad/breakpad
	url = https://github.com/google/breakpad.git
