sudo: false

os:
  - linux

osx_image: xcode9.4
dist: bionic

matrix:
  allow_failures:
    - os: osx

language: cpp

env:
  global:
    - secure: ""

before_install:
  - chmod +x Travis/build.sh

addons:
  apt:
    packages:
    - python3
    - python3-pip
    - python3-setuptools
    - cmake
    - libmysqlclient-dev
    - autoconf
    - libtool
    - yasm
    - nasm
    - g++

  homebrew:
    packages:
    - python3
    - cmake
    - mysql-connector-c
    - mysql-connector-c++
    - automake
    - libtool
    - nasm
    - yasm
    - xz
    - pkg-config

install:
  - sudo -H pip3 install wget requests pathlib
  - sudo apt build-dep -qq qt5-default || true

script:
  - Travis/build.sh

cache:
    apt: true
    directories:
    - $HOME/build/BlockSettle/3rd/release
    - $HOME/build/BlockSettle/3rd/release-shared
