/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/examples/.deps/
/examples/.libs/
/examples/Makefile
/examples/Makefile.in
/examples/authorizer
/examples/authorizer.o
/examples/echo
/examples/echo-x
/examples/echo-x.o
/examples/echo.o
/examples/log-dump
/examples/log-dump.o
/examples/size
/examples/size.o
/examples/threaded
/examples/threaded-threaded.o
/fcgi_config.h
/fcgi_config.h.in
/fcgi_config.h.in~
/include/Makefile
/include/Makefile.in
/install-sh
/libfcgi/.deps/
/libfcgi/.libs/
/libfcgi/Makefile
/libfcgi/Makefile.in
/libfcgi/libfcgi.la
/libfcgi/libfcgi_la-fcgi_stdio.lo
/libfcgi/libfcgi_la-fcgi_stdio.o
/libfcgi/libfcgi_la-fcgiapp.lo
/libfcgi/libfcgi_la-fcgiapp.o
/libfcgi/libfcgi_la-os_unix.lo
/libfcgi/libfcgi_la-os_unix.o
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/stamp-h1
